.content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.stories {
  margin: 0 auto;
  padding-bottom: 30px;
}

.stories-container {
  // max-width: 600px;
  width: 600px;
  // width: 100%;
  max-height: 195px;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  &__item {
    position: relative;
    border-radius: 5px;
  }

  &__image {
    max-width: 140px;
  }

  &__title {
    max-width: 110px;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
    position: absolute;
    top: 19px;
    left: 12px;
  }

  &__date {
    margin: 0;
    position: absolute;
    bottom: 11px;
    right: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
  }
}