.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  // width: 100%;
  background-color: #202020;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
}

.sidebar__image {
  display: flex;
  max-width: 300px;
  width: 100%;
}