.new-post {
  margin-bottom: 30px;
  max-width: 600px;
  width: 100%;
  max-height: 148px;
  background-color: #121212;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

.posting-form {
  display: flex;
  flex-direction: column;
  // max-width: 600px;
  // width: 100%;
  // justify-content: space-between;

  .form-wrapper {
    display: flex;
    // flex-direction: column;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
  }

  &__input {
    max-width: 430px;
    max-height: 100%;
    width: 100%;
    display: flex;
    border: 0;
    padding: 0;
    outline: 0;
    padding-left: 28px;
    margin: 28px 0 28px 0;
    background-color: #121212;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #D2D2D2;

    // &_type_title {}

    // &_type_image {
    //   // display: none;
    // }
  }

  &__button-container {
    display: flex;
    padding-right: 20px;
    max-width: 103px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    max-width: 44px;
    width: 100%;
    max-height: 44px;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 50%;
    background-color: #121212;

    &_type_upload-photo {
      display: flex;
      width: 44px;
      background-image: url('../../images/photo-btn.svg');
      background-repeat: no-repeat;
    }

    &_type_submit {
      display: flex;
      width: 44px;

      background-image: url('../../images/send-btn.svg');
      background-repeat: no-repeat;
    }
  }

  &__button:hover {
    cursor: pointer;
  }
}