@import '../vendor/normalize';
@import '../vendor/fonts/fonts.scss';

.root {
  max-width: 1000px;
  min-width: 320px;
  display: flex;
  margin: 0 auto;
}

body {
  background-color: #181818;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
}

@import '../components/Header/styles';
@import '../components/Sidebar/styles';
@import '../components/Main/styles';
@import '../components/Stories/styles.scss';
@import '../components/ArtictesItem/styles';